# Config file for automatic testing at travis-ci.org
# This file will be regenerated if you run travis_pypi_setup.py

language: python
python:
  - 3.6

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - "pip install -r requirements_dev.txt"

# command to run tests
script: cd tests && pytest && cd ..

# After you create the Github repo and add it to Travis, run the
# travis_pypi_setup.py script to finish PyPI deployment setup
# deploy:
#   provider: pypi
#   distributions: sdist bdist_wheel
#   user: konrad
#   password:
#     secure: PLEASE_REPLACE_ME
#   on:
#     tags: true
#     repo: konrad/pandasgff
#     python: 2.7
